<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp | View and add new campgrounds around the world</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <meta name="description" content="YelpCamp is a dynamic website which provides information about campgrounds" />
        <meta property="og:title" content="Yelpcamp 2018"/>
        <meta property="og:description" content="YelpCamp is a dynamic website which provides information about campgrounds" />
        <meta property="og:image" content="https://image.ibb.co/eponMH/yelpcamp.png"/>
        <meta name="google-site-verification" content="SWgwCna1vMqyjbYyGqEIFOAAfTayY3JHiV45bMIsJEo" />
        <link rel="shortcut icon" href="https://image.ibb.co/kFVgWH/camping.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li style="text-align:center;"><a href="/register">Sign Up</a></li>
                            <li style="text-align:center;"><a href="/login">Login</a></li>
                        <% } else { %>
                            <li style="text-align:center;"><a href="#">Hey <%=currentUser.username%></a></li>
                            <li style="text-align:center;"><a href="/logout">Logout</a></li>
                        <% }%>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%=error%>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%=success%>
                </div>
            <% } %>
        </div>
