<% include partials/header %>

<div class="container frm">
    <div class="row">
        <h1 style="text-align:center;">Sign In</h1>
        
        <form action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In"></input>
            </div>
            
        </form>
        <p class="frm-link"><a class="frm-link" href="/login">Already a member?click here</a></p>
        
    
    </div>
</div>













<% include partials/footer %>