<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            #homepage{
                background:url('https://images.unsplash.com/photo-1506765336936-bb05e7e06295?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=edbb96ae977af71118e4c12e97c75477&auto=format&fit=crop&w=1050&q=80');
                background-size:cover;
                background-position:center;
            }
            .hide{
            	display:none;
            }
            .show{
                margin-top:0;
            	display:block;
            	text-align:center;
            }
            
            .btn-primary{
                background:rgba(0, 0, 0, 0.5);
                border-color:rgba(0, 0, 0, 0.5);
                border-radius:0;
            }
            .btn-primary:hover{
                background:rgba(0, 0, 0, 0.9);
                border-color:rgba(0, 0, 0, 0.9);
            }
                        
            .line-1{
                width: 24em;
                margin: 2.5em auto 0;
                color:white;
                border-right: 2px solid rgba(255,255,255,.75);
                font-size: 8em;
                font-weight:700;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                transform: translateY(-50%);    
            }
            
            /* Animation */
            .anim-typewriter{
              animation: typewriter 4s steps(21) 1s 1 normal both;
                         
            }
            
            @keyframes typewriter{
              from{width: 0;}
              to{width: 12em;}
            }
            @keyframes blinkTextCursor{
              from{border-right-color: rgba(255,255,255,.75);}
              to{border-right-color: transparent;}
            }
            

           @media only screen and (min-width: 320px){
               .line-1{
                    width:12em;
                    margin:8em auto 0;
                   font-size:2em;
                    
               }
           }

           @media only screen and (min-width:375px){
                .line-1{
                    width:12em;
                    margin:10em auto 0;
                    font-size:2em;
                    
                }               
           }
           @media only screen and (min-width:481px){
                .line-1{
                    width:12em;
                    margin:8em auto 0;
                    font-size:3em;
                    
                }               
           }

           @media only screen and (min-width:641px){
                .line-1{
                    width:12em;
                    margin:8em auto 0;
                    font-size:4em;
                    
                }               
           }
           @media only screen and (min-width:961px){
                .line-1{
                    width:12em;
                    margin:3em auto 0;
                    font-size:6em;
                    
                }               
           }
           @media only screen and (min-width:1281px){
                .line-1{
                    width:12em;
                    margin:3em auto 0;
                    font-size:8em;
                    
                }               
           }
           
        </style>
        <script type="text/javascript" language="javascript">
        <!-- Hide from browsers without javascript
        
        window.onload=function()  //executes when the page finishes loading
        {
        	setTimeout(func1, 6000);  //sets a timer which calls function func1 after 6,000 milliseconds = 6 secs.
        	
        };
        function func1()
        {
        	document.getElementById("my_p").className="show";
        }
        
        
        </script>        
    </head>
    <body id="homepage">
    <p class="line-1 anim-typewriter">Welcome to YelpCamp!!</p>
    <div id="my_p" class="hide">
       <a href="/campgrounds" class="btn btn-primary btn-lg">View Campgrounds</a> 
    </div>
    
   

















<% include ../partials/footer %>