<% include ../partials/header %>



<div class="container">
    <header class="jumbotron" id="jumbo">
            <div class="container">
            <h1>Welcome!</h1>
            <p id="jumbotext">View our hand-picked Campgrounds from all over the world</p>
        </div>
    </header>
    
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
    <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img class="thumb" src="<%= campground.image%>">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                    <hr style="margin:0">
                </div>
                <p class="card-read-more">
                    <a href="/campgrounds/<%= campground._id%>" class="btn btn-link btn-block">More Info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>



<% include ../partials/footer %>