html{
    height:100%;
}

body{
    background:url('https://images.unsplash.com/photo-1507830075634-ce51e8b19328?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1c87f7939c25a0ef26b2aa449b2aa380&auto=format&fit=crop&w=1050&q=80');
    background-size:cover;
    background-position:center;
    font-family:Raleway;
}

.navbar-brand{
    color:white;
}

.thumbnail img{
    width:100%;
}

.thumbnail{
    padding:0;
    background-color: #fff;
    border-radius:0;
}

.card {
  padding: 10px;
}

.link > a {
  font-weight: 500;
}

.caption-full{
    padding:1em;
}

#jumbotext{
    font-weight:300;
}

#map {
    height: 400px;
    width: 120%;
    border:1px solid;
    border-radius: 5px;
}

.jumbotron{
    background:rgba(255, 255, 255, 0.75);
}

h4{
    font-weight: 700;
}

.card-read-more a {
  text-decoration: none !important;
  font-weight:600;
  width:100%;
  text-transform: uppercase;
}

#yelpcamp{
    color:white;
    font-weight: 700;
}



.row h1{
    color:rgba(0, 0, 0, 0.6);
    font-weight:700;
}

#campground-header{
    text-align:center;
    color:white;
}

#comment-header{
    margin:10vh auto;
    text-align:center;
    color:white;
}

.frm{
    width:30%;
    padding:15px;
    margin:20vh auto;
    background:rgba(255, 255, 255, 0.5);
    border:5px solid #000;
}

.frm-edit{
    width:50%;
    padding:15px;
    margin:5vh auto;
    background:rgba(255, 255, 255, 0.5);
    border:5px solid #000;
}

.frm-comment{
    width:50%;
    padding:25px 15px 25px 15px;
    margin:10vh auto;
    background:rgba(255, 255, 255, 0.5);
    border:5px solid #000;
}


.form-group{
    padding-left:10px;
    padding-right: 10px;
}

.form-control{
    background:rgba(255, 255, 255, 0.7);
    border:1px solid grey;
    border-radius:0;
}

.frm-link{
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    color:black;
}

input.btn-primary{
    background-color:rgba(0, 0, 0, 0.8);
    position:relative;
    display:block;
    box-shadow:0 4px rgba(0, 0, 0, 0.9);
    border:0;
    outline:none;
}

input.btn-primary:hover{
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow:0 2px rgba(0, 0, 0, 1);
    border:0;
    top:2px;
}



input.btn-primary:active{
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow:0 0 rgba(0, 0, 0, 1);
    border:0;
    top:4px;
}

input.btn-primary:focus{
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow:0 0 rgba(0, 0, 0, 1);
    border:0;
    top:4px;
}


@media screen and (max-width:768px){
    body{
        background:url('https://images.unsplash.com/photo-1516527547813-14b9fc6e7f28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6245a8adf204363f3b31099b2afc23d&auto=format&fit=crop&w=1534&q=80');
    }
    #jumbotext{
        font-size:1em;
    }
    #jumbo{
        text-align: center;
        padding-top:0;
        padding-bottom:0;
    }
    #map{
        width:100%;

    }
    .jumbotron{
    background:rgba(255, 255, 255, 0.7);
    }
    .frm{
    width:90%;
    padding:15px;
    margin:10vh auto;
    background:rgba(255, 255, 255, 0.5);
    border:5px solid #000;
    }

    .form-group{
        padding-left:10px;
        padding-right: 10px;
    }

    .form-control{
        background:rgba(255, 255, 255, 0.7);
        border:1px solid grey;
        border-radius:0;
    }

    .frm-link{
        text-decoration: none;
        cursor:pointer;
        color:black;
    }
    #campground-header{
        display:none;
    }

    #comment-header{
        margin:5vh auto;
    }

    .frm-edit{
    width:90%;
    padding:5px;
    margin:2vh auto;
    background:rgba(255, 255, 255, 0.5);
    border:5px solid #000;
    }
    .frm-comment{
    width:90%;
    padding:5px
    margin:5vh auto;
    background:rgba(255, 255, 255, 0.5);
    border:5px solid #000;
}

}
